# Created by .ignore support plugin (hsz.mobi)
### CodeClanJava template
# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# IntelliJ
out/
target/
.idea_modules/
.idea/libraries/Maven__com_sparkjava_spark_core_2_2.xml
.idea/libraries/Maven__com_sparkjava_spark_template_velocity_2_7_1.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_4.xml
.idea/libraries/Maven__org_apache_velocity_velocity_1_7.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_0_2_v20130417.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_0_2_v20130417.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_0_2_v20130417.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_0_2_v20130417.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_0_2_v20130417.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_0_2_v20130417.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_0_2_v20130417.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_0_2_v20130417.xml
.idea/libraries/Maven__org_eclipse_jetty_orbit_javax_servlet_3_0_0_v201112011016.xml
.idea/libraries/Maven__org_slf4j_slf4j_simple_1_7_7.xml
